@mixin hoverable {
	transition: all 200ms;

	&:hover {
		cursor: pointer;
		background-color: var(--color-secondary-transparent);
		border-radius: var(--radius);
		transform: scale(0.98);
	}
}

@mixin clickable {
	cursor: pointer;

	@include hoverable;

	&:active {
		transform: scale(0.95);
	}
}

@mixin card {
	gap: var(--gap);
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--radius);
}
