.anime_similar_list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	width: 100%;
	overflow-x: scroll;

	.anime_card {
		display: flex;
		flex-direction: column;
		width: 240px;
		height: 400px;
		color: var(--color-text);
		text-decoration: none;

		@include card;
		@include clickable;

		.anime_title {
			width: 100%;
			font-size: var(--text-size-h5);
			font-weight: bold;
			text-align: center;
		}
	}
}
