.search_page {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	align-items: center;
	justify-content: start;

	.title {
		font-size: var(--text-size-h1);
	}

	.search_form {
		display: flex;
		gap: var(--gap);
		align-items: center;
		justify-content: space-between;
		width: fit-content;
		height: 55px;
		padding: 5px;
		background-color: var(--color-secondary);
		border-radius: 12px;

		.left {
			display: flex;
			gap: var(--gap);
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 5px;

			.search_icon {
				color: var(--color-text-secondary);
			}

			.search_input {
				width: fit-content;
				height: 100%;
				font-family: inherit;
				font-weight: 600;
				color: var(--color-text);
				background-color: transparent;
				border: none;
				outline: none;

				&::placeholder {
					font-size: var(--text-size-h6);
					color: var(--color-text-secondary);
				}
			}
		}

		.right {
			display: flex;
			gap: var(--gap);
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 5px;

			.filter_button {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding: 2px 5px;
				font-family: inherit;
				font-weight: 600;
				color: var(--color-text-secondary);
				cursor: pointer;
				background-color: transparent;
				border: 2px solid var(--color-ternary);
				border-radius: 5px;
				transition: all 200ms;
			}

			.search_button {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding: 2px 5px;
				font-family: inherit;
				font-weight: 600;
				color: var(--color-primary);
				cursor: pointer;
				background-color: var(--color-accent);
				border: 2px solid var(--color-ternary);
				border-left: 0;
				border-radius: 5px;
				transition: all 200ms;
			}
		}
	}

	.search_results {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		justify-content: space-between;
		width: 100%;

		// transition: all 200ms;

		@include card;

		.anime_card {
			color: var(--color-text);

			@include card;
			@include clickable;

			text-decoration: none;

			.anime_title {
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				-moz-box-orient: vertical;
			}
		}
	}
}
